*:focus{
    outline: none;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("img/bg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bob {
    background-image: url("img/bg.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    width: 700px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.Bob h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.form-group label {
    width: 80px;
    text-align: right;
    margin-right: 10px;
}
::placeholder{
    color: black;
}
.form-group input {
    background-color: transparent;
    flex: 1;
    padding: 8px;
    border:none;
    border-bottom: 1px solid black; ;
    border-radius: 4px;
}

.form-actions {
    text-align: right; 
    margin-top: 20px;
}

.form-actions button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    width: 100px;
    height: 45px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.form-actions button:hover {
    opacity: 0.9;
}
